* {
	z-index: 0;
}

div {
	border: 1px solid lightgrey;
	margin: 10px;
}


#header, #footer {
	text-align: center;
}

#nav, #main {
	
}

#nav {
	max-width: 47.7vw;
	float: left;
}
#nav * {
	padding-right: 10px;
}

#actuals {
	float: left;

	margin-top: 20vw;
}

#main {
	max-width: 80vw;
	min-width: 47.7vw;
	float: right;
}

#footer {
	clear: both;
}


.fixed {
	position: fixed;
}

.error {
	color: red;
	font-size: 110%;
}